body {
    background-color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 135%;
}

button {
    font-size: 102.5%;
    font-weight: bold;
    background-color: crimson;
    border: 0.5vw solid crimson;
}

.main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 10vh;
}

.main button {
    font-size: 140%;
    width: 60vw;
    height: 30vh;
}

.panel {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.panel button {
    width: 30vw;
    height: 15vh;
}

.crimsontext {
    color: crimson;
}
