.popup {
    position: absolute;
    display: none;
}

nav li:hover ul {
    display: grid;
    z-index: 2;
}

.bg-crimson {
    background-color: crimson;
}

.bg-deeppurple {
    background-color: rgb(57, 5, 87);
}

.bg-lightpink {
    background-color: rgb(223, 192, 248);
}

.bg-primarycolor {
    background-color: rgb(204, 102, 204);
}

.bg-banner1 {
    background-image: url(../IMG/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.border-deeppurple {
    border-color: rgb(80, 19, 80) !important;
}

.border-secondarycolor {
    border-color: rgb(238, 172, 72) !important;
}

.link-secondarycolor {
    color: black;
}

.link-secondarycolor:hover {
    color: rgb(238, 172, 72);
}

.font-1 {
    font-family: 'Pacifico', cursive;
}

.font-2 {
    font-family: 'Slabo 27px', serif;
}
